.top-header {
  position: relative;
  text-align: center;
  margin: 120px auto 0;
  height: 400px;
  width: 100%;
  background-color: #db7093;
  color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
/* Laptops / Desktops*/
@media only screen and (min-width: 960px) {
  .top-header {
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
  }
}
