html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

nav {
  font-family: "Bungee";
}

body {
  padding-bottom: 50px;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  width: 90%;
  background-color: #f4f1ec;
  margin: 0 auto;
  column-count: 1;
}

#top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
  display: none;
  cursor: pointer;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

footer {
  padding-top: 10px;
}

/* Laptops / Desktops */
@media only screen and (min-width: 960px) {
  main {
    width: 50%;
  }
  body {
    margin-top: 100px;
  }
}
