.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  font-family: 'Bungee', sans-serif;
}

.nav-button {
  float: right;
  border-radius: 4px;
}

.nav-button:hover {
  cursor:pointer;
}
