.tweet-header {
  margin-left: 50px;
  margin-right: 50px;
}

.error-null {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

.error-long {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

.name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 40px;
}

.handle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: lightgray;
  background-color: transparent;
  float: right;
}

.tweet-container {
  margin-top: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-style: solid;
  border-color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-left: 40px;
}

.tweet-container:hover {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.tweet-container:hover .handle,
.tweet-container:hover .twitter-icons {
  visibility: visible;
  opacity: 1;
}

.tweet-textarea {
  color: #545149;
  margin-top: 40px;
  background: transparent;
  border-bottom: 2.5px solid black;
  width: 90%;
  margin: auto;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.tweet-footer {
  margin-left: 70px;
  margin-right: 70px;
}

.date-posted {
  font-size: 15px;
  float: left;
}

.twitter-icons,
.handle {
  float: right;
  visibility: hidden;
  opacity: 0;
}
/* @media only screen and (min-width: 960px) {
   {
    margin-left: 25px;
    margin-top: 300px;
  }
} */
